.movies{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.moviesRight{
    width: 85%;
}

@media only screen and (max-width: 1249px){
    .moviesLeft{
        display: none;
    }
}