body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  background-color: var(--main-background-color);
}

:root{
  --main-background-color:rgb(237,241,245);
  --theme-color: orange;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}