.filter{
    margin: 20px;
}

.filterSearch{
    padding: 5px;
}

.filterSearch:focus{
    outline-color: var(--theme-color);
}

.filterHeaders{
    color: var(--theme-color-2);
}

.filterTypeList{
    margin: 0;
    padding: 0;
    list-style: none;
}

.filterTypeList>li {
    padding: 5px 0 5px 0;
    cursor: pointer;
}
